@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap');

/* General */

body {
    font-family: "Lora" , serif;
    background-color: #fafafa;
    font-size: 18px;
    margin: 5px;
}

/* This code was taken from Stack Overflow to fix the issue of unwanted scrolling horizontally when viewing on larger screens */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


/* Navbar */ 

.navbar {
    background-color: rgba(249, 166, 9, 0.2);
    padding: 8px 4px 8px 4px;
}
.navbar-brand {
    font-family: "Montserrat" , sans-serif;
    color: black;
    font-size: 30px;
    letter-spacing: 1px;
    margin-right: 0;
}

.navbar-brand:hover {
    color: black;
}

.nav-link {
    font-family: "Montserrat" , sans-serif;
    color: black;
    font-size: 18px;
    
}

.nav-link:hover {
    color: rgb(198,111,0);
    text-decoration: underline;
}


.fa-bars {
    padding: 4px;
}

/* Main Content */ 

.main-content h1 {
    padding: 15px 2px 15px 2px;
    font-size: 30px;
    text-align: center;
    font-family: "Montserrat" , sans-serif;
    color: rgb(0, 0, 0);
}

.main-content p {
    line-height: 28px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.main-content .fas {
    color: rgb(198, 111, 0);
    font-size: 25px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


/* Footer */

.fab {
    color: black;
    font-size: 25px;
    padding: 2px;
}

.fab:hover {
    color: rgb(198, 111, 0)
}

footer {
    padding-top: 2px;
    text-align: center;
    font-size: 15px;
    background-color: rgba(249, 166, 9, 0.2); 
}

footer p {
    padding-top: 10px;
    font-weight: bolder;
}

/* Contact Page */

.contact-page-heading {
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Montserrat" , sans-serif;
    color: rgb(0, 0, 0);
}

.contact-page-paragraph {
    font-size: 25px;
    text-align: center;
    padding-bottom: 50px;
    color: rgb(0, 0, 0);

}
.form-section {
    padding-top: 15px;
    margin: 0 auto;
    width: 60%;
    
}

.submit-button {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.contact-page {
    background: url(../assets/images/contact-bg.jpg) no-repeat center center;
}

/* Rescue-Centre Page */

.card-title {
    font-family: "Montserrat" , sans-serif;
}
.card {
    background-color: #fafafa;
    border: 1px solid orange;
}
/* Rescue-Stories Page */

.story-image-1 {
    background: url("/assets/images/cooper-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.story-image-2 {
    background: url("/assets/images/lulu-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.story-image-3 {
    background: url("/assets/images/simba-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.story-image-4 {
    background: url("/assets/images/cat-4-.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}


#rescue-stories p {
    padding: 10px;
}


/* Media Queries */ 

@media (max-width: 1024px) {

        .form-section
     {
        padding-top: 15px;
        margin: 0 auto;
        width: 100%;
        
     }
}


/* To stop hamburger icon from dropping below page title */

@media (max-width: 320px) {
    .navbar-brand
    {
        font-size: smaller;
        padding-left: 10px;

    }
}

@media (min-width: 768px) {
    .contact-page 
{
    background: url(../assets/images/contact-bg.jpg) no-repeat center center;
    height: 100vh;
}
}