@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap');

/* General */
body {
    font-family: "Lora" , serif;
    background-color: #fafafa;
    font-size: 18px;
}

/* This code was taken from Stack Overflow to fix the issue of unwanted scrolling horizontally when viewing on larger screens */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Navbar */ 
.navbar {
    background-color: rgb(255, 215, 105);
    margin-top: 0;
    padding: 4px;   
}

.navbar-brand {
    font-family: "Montserrat" , sans-serif;
    color: black;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 3px;
}

.navbar-brand:hover {
    color: black;
}

.nav-link {
    font-family: "Montserrat" , sans-serif;
    color: black;
    font-size: 18px;
    margin: 3px;
    
}

.nav-link:hover {
    color: #000;
    text-decoration: underline;
}


.fa-bars {
    padding: 4px;
}

/* Home Page */ 
.main-content h1 {
    padding: 15px 2px 15px 2px;
    font-size: 30px;
    text-align: center;
    font-family: "Montserrat" , sans-serif;
    color: rgb(0, 0, 0);
}

.main-content p {
    line-height: 28px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.main-content .fas {
    color: rgb(198, 111, 0);
    font-size: 25px;
}
.container-fluid {
    padding: 0;
}

.container-fluid .main-content {
    margin: 20px;
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.benefits-rescue {
    padding-bottom: 5px;
}
/* Footer */
.fab {
    color: black;
    font-size: 25px;
    padding: 2px;
}

.fab:hover {
    color: rgb(198, 111, 0);
}

footer {
    text-align: center;
    font-size: 15px;
    background-color: rgb(255, 215, 105); 
}

footer p {
    padding-top: 10px;
    font-weight: bolder;
}

/* Contact Page */
.contact-page-heading {
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Montserrat" , sans-serif;
    color: rgb(0, 0, 0);
}

.contact-page-paragraph {
    font-size: 25px;
    text-align: center;
    padding-bottom: 50px;
    color: rgb(0, 0, 0);

}

.form-section {
    padding-top: 15px;
    margin: 0 auto;
    width: 60%;
    
}

.submit-button {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.contact-page {
    background: url("/assets/images/contact-bg.jpg") no-repeat center center;
}

/* Rescue-Centre Page */
.card-title {
    font-family: "Montserrat" , sans-serif;
}

.card {
    background-color: #fafafa;
    border: 1px solid orange;
}

/* Rescue-Stories Page */
.story-image-1 {
    background: url("/assets/images/cooper-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.story-image-2 {
    background: url("/assets/images/lulu-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.story-image-3 {
    background: url("/assets/images/simba-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.story-image-4 {
    background: url("/assets/images/cat-4-.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.story-image-5 {
    background: url("/assets/images/daisy-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.story-image-6 {
    background: url("/assets/images/bob-and-dylan.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

#rescue-stories .row {
    padding-top: 10px;
    margin: 10px;
}

/* Media Queries */ 
@media (max-width: 1024px) {

        .form-section
     {
        padding-top: 15px;
        margin: 0 auto;
        width: 100%;
        
     }
}

/* To stop hamburger icon from dropping below page title */
@media (max-width: 320px) {
    .navbar-brand
    {
    font-size: smaller;
    padding-left: 10px;
    }
}

@media (min-width: 768px) {
    .contact-page 
    {
    background: url("/assets/images/contact-bg.jpg") no-repeat center center;
    height: 100vh;
    }
}

/* For fixed top navbar on small/md devices*/
@media (max-width: 1024px) {
    .fixed-top 
    {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    }
}

/* For no fixed navbar on desktop devices */
@media (min-width: 1024px) {
    .fixed-top
    {
    position: relative;
    }
}
/* To stop navbar covering content */
@media (max-width: 540px) {
    .home-image 
    {
    margin-top: 60px;
    }
}

@media (max-width: 320px) {
    .home-image 
    {
    margin-top: 40px;
    }
}

@media (max-width: 800px) {
    .story-image-1 
    {
    margin-top: 60px;
    }
}

@media (max-width: 800px) {
    .story-text
    {
    margin-top: 60px;
    }
}

@media (max-width: 320px) {
    .story-image-1
    {
    margin-top: 40px;
    }
}

@media (max-width: 320px) {
    .story-text
    {
    margin-top: 40px;
    }
}
