@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap');

/* General */

body {
    font-family: "Lora" , serif;
    background-color: #fafafa;
    font-size: 18px;
}


/* Navbar */ 

.navbar {
    padding: 10px 15px 10px 15px;
}
.navbar-brand {
    font-family: "Montserrat" , sans-serif;
    color: black;
    font-size: 30px;
    letter-spacing: 1px;
}

.navbar-brand:hover {
    color: black;
}

.nav-link {
    font-family: "Montserrat" , sans-serif;
    color: black;
    font-size: 18px;
    
}

.nav-link:hover {
    color: rgb(198,111,0);
    text-decoration: underline;
}

.fa-bars {
    padding: 4px;
}

/* Main Content */ 

.main-content h1 {
    padding: 15px 2px 15px 2px;
    font-size: 35px;
    text-align: center;
    font-family: "Montserrat" , sans-serif;
    color: rgb(0, 0, 0);
}

.main-content p {
    line-height: 28px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.main-content .fas {
    color: rgb(198, 111, 0);
    font-size: 25px;
}


/* Footer */

.fab {
    color: black;
    font-size: 25px;
    padding: 10px 2px 10px 2px;
}

.fab:hover {
    color: rgb(198, 111, 0)
}

footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fafafa;
}

/* Contact Page */

.contact-page-heading {
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Montserrat" , sans-serif;
    color: rgb(0, 0, 0);
}

.contact-page-paragraph {
    font-size: 25px;
    text-align: center;
    padding-bottom: 50px;
    color: rgb(0, 0, 0);

}
.form-section {
    padding-top: 15px;
    margin: 0 auto;
    width: 60%;
    
}

.submit-button {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.contact-page {
    height: 100vh;
    background: url(../assets/images/contact-bg.jpg) no-repeat center center;
}

@media (max-width: 992px) {

        .form-section
     {
        padding-top: 15px;
        margin: 0 auto;
        width: 100%;
     }

}

/* Rescue-Centre Page */

.card-img-top {
    height: 56vh;
  
}

.card-title {
    font-family: "Montserrat" , sans-serif;
}

/* Rescue-Stories Page */

.story-image-1 {
    background: url("../assets/images/cooper-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.story-image-2 {
    background: url("../assets/images/lulu-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.story-image-3 {
    background: url("../assets/images/simba-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.story-image-4 {
    background: url("../assets/images/cat-4-.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}